[user]
        name = Frank Purcell
        email = fxpurcell@gmail.com
[includeIf "gitdir:~/work/"]
        path = ~/work/.gitconfig
[core]
        autocrlf = false
	filemode = false
	fileMode = false
	editor = emacs
	symlinks = true
[alias]
        co = checkout
        br = branch
        bra = branch -vva
